* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #e1f2d5;
  --blue: #3498db;
  --green: #2ecc71;
  --red: #fd1900;
  --blue-dark: #220491;
  --gray-dark: #7f8c8d;
  --black: #000000;
  --white: #ffffff;
  --yellow: #f1c40f;
  --purple: #9b59b8;
  --orange: #e87e22;
  --pink: #ff69b4;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

.highlight__container {
  display: flex;
  gap: 2rem; /* 1rem = 16px*/
  margin: 1rem 0;
}

.highlight {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.highlight .image {
  height: 80px;
  width: 80px;
  background-color: var(--primary);
  padding: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.highlight img {
  max-width: 100%;
}